body{
    font-family: "Comfortaa", sans-serif;
}
.parent
{
    position:relative;
    
    height: 100vh;
    overflow: hidden;
    align-content: center;
}
.solid-circle
{
    height: 750px;
    width: 750px;
    background: #476EF7;
    border-radius: 50%;
    position:absolute;
    right:-375px;
    top:-120px;
    z-index: 1;
}
.header-home{
    display:flex;
    justify-content: space-between;
position:absolute;
z-index: 2;
width: 100%;
top:10px;
padding:0px 25px;
    

}
#click-here-button{
    background-color:white ;
    color:#476EF7;
    font-size: large;
    font-weight: 600;
    box-shadow: 4px 4px 2px rgba(0,0,0, 0.50);
}
#Name{
    color:#476EF7;
    font-size: 100px;
}
.form-floating{
    width:45%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
#login-button{
    background-color: #476EF7;
    color:white;
    padding:5px 25px;
}
.main-content{
margin-left: 25px;
}